<html>
<head>
    <title>WA Logger • Error</title>
</head>
<body>
<h1>Oops, something went wrong!</h1>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</body>
</html>